# Compiled class files
*.class

# Log files
*.log


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# VS Code settings
.vscode/

# macOS junk
.DS_Store
